{% extends 'backend/layouts/main.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>


   <!-- Left side columns -->
   <div class="col-lg-12">
    <div class="row">

      <!-- Sales Card -->
      <div class="col-xxl-3 col-md-6">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">District</span></h5>
            <h5>{{ districts.count }} districts</h5>
          </div>
        </div>
      </div><!-- End Sales Card -->


      <!-- Township Card -->
      <div class="col-xxl-3 col-md-6">
        <div class="card info-card revenue-card">
          <div class="card-body">
            <h5 class="card-title">Townships</span></h5>
            <h5>{{ townships.count }} townships</h5>
          </div>
        </div>
      </div><!-- End Township Card -->

          
      <!-- Villages Card -->
      <div class="col-xxl-3 col-xl-12">
        <div class="card info-card customers-card">
          <div class="card-body">
            <h5 class="card-title">Village</span></h5>
            <h5>{{ villages.count }} villages</h5>
          </div>
        </div>
      </div><!-- End Villages Card -->

      <!-- wards Card -->
      <div class="col-xxl-3 col-xl-12">
        <div class="card info-card customers-card">
          <div class="card-body">
            <h5 class="card-title">Wards</span></h5>
            <h5>{{ wards.count }} wards</h5>
          </div>
        </div>
      </div><!-- End Villages Card -->

        <!-- village home Card -->
        <div class="col-xxl-3 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5 class="card-title">Homes</span></h5>
              <h5>{{ homes.count }} homes</h5>
            </div>
          </div>
        </div><!--  Villages  villages Card -->
      
    </div>
  </div><!-- End Left side columns -->
</div><!-- End Page Title -->
{% endblock content %}
            


            
         




          


            



      
