{% extends 'backend/layouts/main.html' %}
{% block title %}
{{ township_villages.first.township.name }} township{% endblock title %}
{% block content %}
{{ form.media }}





<div class="pagetitle">




  <div class="pagetitle">
    <h4>{{ township_villages.first.township.name }} township</h4>
    
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">



          <!-- villages Card -->
          <div class="col-xxl-3 col-md-6">
            <div class="card info-card revenue-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Villages</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-house"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ township_villages.count}}</h6>
                    <span class="text-success small pt-1 fw-bold">8%</span> <span
                      class="text-muted small pt-2 ps-1">increase</span>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End villages Card -->

          <!-- Customers Card -->
          <div class="col-xxl-3 col-xl-12">

            <div class="card info-card customers-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Wards</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people-fill"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ township_wards.count }}</h6>
                    <span class="text-danger small pt-1 fw-bold">12%</span> <span
                      class="text-muted small pt-2 ps-1">decrease</span>

                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Customers Card -->

          <!-- Customers Card -->
          <div class="col-xxl-3 col-xl-12">

            <div class="card info-card customers-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Home</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ township_homes.count }}</h6>
                    <span class="text-danger small pt-1 fw-bold">12%</span> <span
                      class="text-muted small pt-2 ps-1">decrease</span>

                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Customers Card -->

          <!-- Customers Card -->
          <div class="col-xxl-3 col-xl-12">

            <div class="card info-card customers-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Population</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people-fill"></i>
                  </div>
                  <div class="ps-3">
                    <h6>1244</h6>
                    <span class="text-danger small pt-1 fw-bold">12%</span> <span
                      class="text-muted small pt-2 ps-1">decrease</span>

                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Customers Card -->





        </div>
      </div><!-- End Left side columns -->



    </div>
  </section>

  <!-- village table -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">All Villages</h5>
            <a href="" class="float-end btn btn-large btn-success">New Village</a>

            <p>Add lightweight datatables to your project with using the <a
                href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library.
              Just add <code>.datatable</code> class name to any table you wish to conver to a datatable</p>

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Village-name</th>

                  <th scope="col">Description</th>
                  <th scope="col">Image</th>
                  <th scope="col">Location</th>
                  <th scope="col">Created Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for township_village in township_villages %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ township_village.name }}</td>

                  <td>{{ township_village.description|safe }}</td>
                  <td>
                    <img src="{{ township_village.image.url }}" alt="" style="width: 50px; height: 50px;">
                  </td>
                  <td>{{ township_village.location }}</td>
                  <td>{{ township_village.created }}</td>
                  <td>
                    <a href="" class="btn btn-outline-primary">
                      <i class="bi bi-bookmark-check"></i><span></span>

                    </a>
                    <a href="{% url 'village_detail' township_village.id %}" class="btn btn-outline-success">
                      <i class="bi bi-eye-fill"></i><span></span>
                    </a>
                    <a href="" class="btn btn-outline-danger">
                      <i class="bi bi-x-square"></i><span></span>

                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- wards table -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">All Wards</h5>
            <a href="" class="float-end btn btn-large btn-success">New Ward</a>

            <p>Add lightweight datatables to your project with using the <a
                href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library.
              Just add <code>.datatable</code> class name to any table you wish to conver to a datatable</p>

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Ward-Name</th>


                  <th scope="col">Description</th>
                  <th scope="col">Image</th>
                  <th scope="col">Location</th>
                  <th scope="col">Created Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for township_ward in township_wards %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ township_ward.name }}</td>

                  <td>{{ township_ward.description|safe }}</td>
                  <td>
                    <img src="{{ township_ward.image.url }}" alt="" style="width: 50px; height: 50px;">
                  </td>
                  <td>{{ township_ward.location }}</td>
                  <td>{{ township_ward.created }}</td>
                  <td>
                    <a href="" class="btn btn-outline-primary">
                      <i class="bi bi-bookmark-check"></i><span></span>

                    </a>
                    <a href="{% url 'ward_detail' township_ward.id %}" class="btn btn-outline-success">
                      <i class="bi bi-eye-fill"></i><span></span>
                    </a>
                    <a href="" class="btn btn-outline-danger">
                      <i class="bi bi-x-square"></i><span></span>

                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- -->


</div><!-- End Page Title -->


{% endblock content %}