{% extends 'backend/layouts/main.html' %}
{% block content %}
{{ form.media }}

<div class="pagetitle">
     

     

      <div class="pagetitle">
        <h1>Village </h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'districts' %}">District</a></li>
            <li class="breadcrumb-item"><a href="{% url 'townships' %}">Township</a></li>
            <li class="breadcrumb-item"><a href="{% url 'villages' %}">Village</a></li>
            <li class="breadcrumb-item active">Data</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
  
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Village Tables</h5>
                <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable</p>
  
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col">Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Image</th>
                      <th scope="col">Location</th>
                      <th scope="col">Created Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for village in villages %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ village.name }}</td>
                      <td>{{ village.description|safe }}</td>
                      <td>
                         <img src="{{ village.image.url }}" alt="" style="width: 50px; height: 50px;">
                      </td>
                      <td>{{ village.location }}</td>
                      <td>{{ village.created }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>
  
   
</div><!-- End Page Title -->


{% endblock content %}